.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.login-card {
  width: 25%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}