.page-header {
  display: flex;
  width: 100%;
}

.page-title-container {
  width: 50%;
}

.actions-container {
  gap: 16px;
  width: 50%;
  display: flex;
  margin-bottom: 24px;
  justify-content: end;
}

.footer {
  gap: 20px;
  display: flex;
  justify-content: center;
}